/* Paragraph specific styles */

/* Textarea Styles */
textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    /* border: 1px solid #302e2e; Black border */
    margin-top: 20px;
    border-radius: 5px; /* Rounded corners */
    color: #374151; /* Grey 600 text color */
    /* background-color: #F3F4F6; Bluish White background */
  }
  
  /* Result Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px; /* Rounded corners */
  }
  
  th, td {
    /* border: 1px solid #302e2e; Black border */
    padding: 10px;
  }
  
  /* Additional Result Section Styles */
  .border {
    /* border: 1px solid #302e2e; Black border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px;
    margin-top: 20px;
    background-color: #F3F4F6; /* Bluish White background */
  }
  
  p {
    margin-top: 10px;
    color: #374151; /* Grey 600 text color */
  }
  