body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8; 
}

h1 {
  color: #333;
}

p {
  color: #666;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.w-56 {
  width: 56%;
  padding: 8px;
  margin-right: 10px;
  background-color: #fff;
  color: #000;   
  border-radius: 5px;
  cursor: pointer;
}

.w-96 {
  width: 96%;
  margin-top: 20px;
  background-color: #fff; 
  color: #000; 
  border-radius: 5px;
}

.w-full {
  width: 100%;
}

.border {
  border: 1px solid #ddd;
  border-radius: 5px;
}

